
.author {
    padding: 3rem;
    width: 15rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(98, 171, 231);
    border-radius: 16px;
}
input {
    margin-bottom: 1rem;
    padding: 0.5rem 0rem;
    padding-left: 5.5rem;
    border: none;
}
button {
    background-color: skyblue;
    color: white;
    font-size: 1rem;
    border: none;
    padding: 1rem 0rem;
    border-radius: 16px;
}